---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.profile-picture img {
  width: 120% !important; // Adjust size
  //object-fit: cover; // Ensures it looks good when cropped
  margin-right: 10px; // Spacing between the image and text
  //vertical-align: middle; // Aligns with the site title
}

.site-header .wrapper {
  display: flex;
}

.profile-section {
  display: flex; /* Align items horizontally */
  //align-items: center; /* Vertically align the items */
  gap: 20px; /* Add spacing between image and text */
  padding: 20px; /* Optional: Add padding */
}


.footer .footer-links a {
  font-size: 25px;
  color: #000;
}

.publication-block {
  display: flex !important;
  .publication-title {
      width: fit-content;
      margin: 0 !important;
      font-weight: 600;
      font-size: 110% !important;

      a { color: #000 }
  }

  .publication-venue {
      color: #555;
      width: fit-content;
      margin-top: 0;
  }

  .publication-venue-emph {
      font-style: normal;
      font-size: 90%;
      font-weight: 500;
      color: red;
      padding-left: 0.25em;
  }

  .publication-awards {
      color: red;
      width: fit-content;
      font-weight: bolder;
  }

  .publication-authors {
      .author-me {
          color: #000;
          font-weight: 600;
      }

      a {
          color: #000 !important;
      }

      a:hover {
          text-decoration: underline;
      }
  }

  .publication-image {
    width: 100% !important; /* Match the profile picture width */
    height: 100%; /* Ensure proportional scaling */
    overflow: hidden; /* Crop overflow */
    font-size: 0;
    box-shadow: 0px 0px 15px #b4b4b4; /* Optional: Keep shadow styling */
  }
  .publication-image img {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Maintain aspect ratio */
  }

  .publication-mousecell {
      align-items: center;
      position: relative;
      font-size: 0;
  }

  .publication-mousecell {
      align-items: center;
      width: 100%;
      height: auto;
      display: inline-block;
      overflow: hidden;

      video {
          display: none;
      }
  }

  .publication-description {
      color: #333;
      margin: 0.5em 0;
  }

  .publication-links {
      margin: 0 !important;
      margin-top: 0.5em !important;
  }
}