/* Profile Block */
.profile-block {
  display: flex !important;
  align-items: center;
  gap: 20px; /* Space between image and text */

  .publication-image {
    width: 120px !important; /* Fixed square size */
    height: 120px !important; /* Same height as width */
    overflow: hidden; /* Crop overflow */
    font-size: 0;
    box-shadow: 0px 0px 15px #b4b4b4; /* Optional shadow */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .publication-image img {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Stretch to fill */
    object-fit: cover; /* Crop to fit square */
  }

  .bio {
    width: fit-content;
    margin: 0 !important;
    font-weight: 600;
    font-size: 110% !important;
    color: #000;

    a {
      color: #000;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

/* Publication Block */
.publication-block {
  display: flex !important;
  align-items: center;
  gap: 20px; /* Space between image and text */

  .publication-image {
    width: 120px !important; /* Match profile image size */
    height: 120px !important; /* Same height as width */
    overflow: hidden; /* Crop overflow */
    font-size: 0;
    box-shadow: 0px 0px 15px #b4b4b4; /* Optional shadow */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .publication-image img {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Stretch to fill */
    object-fit: cover; /* Crop to fit square */
  }

  .publication-title {
    width: fit-content;
    margin: 0 !important;
    font-weight: 600;
    font-size: 110% !important;

    a {
      color: #000;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .publication-venue {
    color: #555;
    width: fit-content;
    margin-top: 0;
  }

  .publication-venue-emph {
    font-style: normal;
    font-size: 90%;
    font-weight: 500;
    color: red;
    padding-left: 0.25em;
  }

  .publication-authors {
    .author-me {
      color: #000;
      font-weight: 600;
    }

    a {
      color: #000 !important;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .publication-description {
    color: #333;
    margin: 0.5em 0;
  }

  .publication-links {
    margin: 0 !important;
    margin-top: 0.5em !important;
  }
}