.profile-block, .publication-block {
    display: flex !important;
    align-items: center;
    gap: 20px; /* Consistent spacing between image and text */
}

.profile-block .publication-image, .publication-block .publication-image {
    width: 120px !important; /* Fixed square size */
    height: 120px !important; /* Same height as width for square */
    overflow: hidden; /* Crop overflow */
    font-size: 0;
    box-shadow: 0px 0px 15px #b4b4b4; /* Optional for consistent styling */
}

.profile-block .publication-image img, .publication-block .publication-image img {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Stretch to fit */
    object-fit: cover; /* Crop image to fit the square */
}

.profile-block .bio, .publication-block .publication-title {
    margin: 0 !important;
    font-weight: 600;
    font-size: 110% !important;
    color: #000;
}