---
layout: base
title: Home
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- Navigation -->
  

  <!-- Sections -->
  <div class="profile-section">
    <!-- Section Content -->
    <div id="bio">
      {%- for bio in site.bio -%}
      <div id="{{ bio.id }}" class="bio">
        <h2>{{ bio.title }}</h2>
        <p>{{ bio.content }}</p>
      </div>
      {%- endfor -%}
    </div>

    <!-- Profile Picture -->
    <a href="{{ "/" | relative_url }}" class="profile-picture">
      <img src="{{ "/assets/images/profile.jpeg" | relative_url }}" alt="Profile Picture" />
    </a>
  </div>

  <!-- Section Content -->
  <div id="sections">
    {%- for section in site.sections -%}
    <div id="{{ section.id }}" class="section">
      <h2>{{ section.title }}</h2>
      <p>{{ section.content }}</p>
    </div>
    {%- endfor -%}
  </div>

</div>