<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- Profile Section -->
  <section class="section" id="profile">
    <div class="container is-max-desktop">
      <h2>{{ site.bio.title }}</h2>
      <div class="content-block">
        <!-- Profile Picture -->
        <div class="image-container">
          <img src="{{ "./images/profile.jpeg" | relative_url }}" alt="Profile Picture" />
        </div>
        <!-- Bio Content -->
        <div class="text-content">
          <p>{{ site.bio.content }}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Research Section -->
  <section class="section" id="research">
    <div class="container is-max-desktop">
      <h2>Research</h2>
      {% for publication in site.data.publications %}
      <div class="content-block">
        <!-- Publication Image -->
        <div class="image-container">
          {% if publication.image_mouseover contains "mp4" %}
          <video autoplay preload playsinline loop muted>
            <source src="./images/{{ publication.image_mouseover }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          {% else %}
          <img alt="{{ publication.title }}" src="./images/{{ publication.image }}" />
          {% endif %}
        </div>
        <!-- Publication Content -->
        <div class="text-content">
          <h3><a href="{{ publication.project_page }}">{{ publication.title }}</a></h3>
          <p class="publication-authors">
            {% for author_id in publication.authors %}
              {% assign author = site.data.authors[author_id] %}
              <span>{% if author.is_me %}<strong>{{ author.first_name }} {{ author.last_name }}</strong>{% else %}{{ author.first_name }} {{ author.last_name }}{% endif %}</span>{% if forloop.last == false %}, {% endif %}
            {% endfor %}
          </p>
          <p class="publication-venue">{{ publication.venue }}</p>
          <p class="publication-description">{{ publication.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>