---
layout: base
title: Home
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- Navigation -->
  

 <!-- Profile Section -->
<div class="profile-section">
  <!-- Bio and Sections Content -->
  <div class="content">
    <!-- Bio -->
    <div id="bio">
      {%- for bio in site.bio -%}
      <div id="{{ bio.id }}" class="bio">
        <h2>{{ bio.title }}</h2>
        <p>{{ bio.content }}</p>
      </div>
      {%- endfor -%}
    </div>

    <!-- Sections -->
    <div id="sections">
      {%- for section in site.sections -%}
      <div id="{{ section.id }}" class="section">
        <h2>{{ section.title }}</h2>
        <p>{{ section.content }}</p>
      </div>
      {%- endfor -%}
    </div>
  </div>

  <!-- Profile Picture -->
  <a href="{{ "/" | relative_url }}" class="profile-picture">
    <img src="{{ "/assets/images/profile.jpeg" | relative_url }}" alt="Profile Picture" />
  </a>
</div> 


</div>